.title {
    margin-left:20px;
    margin-right: 100px;
}

.link-container {
    text-align: right;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.nav-link:hover {
    color: yellow;
    border-bottom: 1px solid white;
};